*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-color: rgb(117, 115, 115);
    height: 100%;
}
.header{
    /* background-color: chartreuse; */
    color: #ffcc00 ;
    text-align: center;
    /* margin-top: 20px; */
    padding: 2rem;
}
.food-container{
    width: 65vw;
    margin: 0.75rem auto 0 auto;
}