.container{
    background-color: #FAE5D3;
    border: solid 2px black;
    border-radius: 10px;
}
.food-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.food-data div:not(:first-child){
    margin-top: 1.5rem;
}

.food-img img{
    width: 15vw;
    height: 200px;
    object-fit: cover;
}
